force-app/main/default/flows/Enter_Journey_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Edit_Tasks</name>
        <label>Edit Tasks?</label>
        <locationX>768</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Create_New_Journey</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do not Edit Tasks</defaultConnectorLabel>
        <rules>
            <name>Edit_Tasks_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Edit_Tasks_before_creating_Journey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Template_Tasks</targetReference>
            </connector>
            <label>Edit Tasks</label>
        </rules>
    </decisions>
    <description>Screen to capture essential details for creating a new Journey.</description>
    <environments>Default</environments>
    <interviewLabel>Enter Journey Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enter Journey Details</label>
    <loops>
        <description>Loop element to go through each element in the collection.</description>
        <name>Task_Loop</name>
        <label>Task Loop</label>
        <locationX>323</locationX>
        <locationY>339</locationY>
        <collectionReference>colTemplateTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>This element creates a new Journey record using the details provided by the user, such as the Journey Name, Candidate Information, Manager Information, and Onboarding Start Date, linking it to the Template from which the Flow was launched.</description>
        <name>Create_New_Journey</name>
        <label>Create New Journey</label>
        <locationX>774</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Candidate_Email__c</field>
            <value>
                <elementReference>Candidate_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Candidate_Name__c</field>
            <value>
                <elementReference>Candidate_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_Email__c</field>
            <value>
                <elementReference>Manager_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_Name__c</field>
            <value>
                <elementReference>Manager_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Journey_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Start_Date__c</field>
            <value>
                <elementReference>Onboarding_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Template_Used__c</field>
            <value>
                <elementReference>varTemplateRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Journey__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Retrieve all the Task records that are related to the selected template to be used in the creation of the Journey.</description>
        <name>Get_Related_Template_Tasks</name>
        <label>Get Related Template Tasks</label>
        <locationX>507</locationX>
        <locationY>340</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTemplateRecord.Id</elementReference>
            </value>
        </filters>
        <object>Template_Task__c</object>
        <outputReference>colTemplateTasks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Task_Description__c</queriedFields>
        <queriedFields>Task_Relative_Days_To_Complete__c</queriedFields>
    </recordLookups>
    <screens>
        <description>Enter the related Journey details.</description>
        <name>Enter_Journey_Details</name>
        <label>Enter Journey Details</label>
        <locationX>776</locationX>
        <locationY>182</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Edit_Tasks</targetReference>
        </connector>
        <fields>
            <name>Journey_Name</name>
            <dataType>String</dataType>
            <fieldText>Journey Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Candidate_Name</name>
            <dataType>String</dataType>
            <fieldText>Candidate Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Candidate_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Candidate Email</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Manager_Name</name>
            <dataType>String</dataType>
            <fieldText>Manager Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Manager_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Manager Email</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Onboarding_Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Onboarding Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Edit_Tasks_before_creating_Journey</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varEditTasks</elementReference>
            </defaultValue>
            <fieldText>Edit Tasks before creating Journey?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Select this option if you want to edit the related Template Tasks before creating the Journey.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Enter_Journey_Details</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Holds the collection of template task records related to the selected template.</description>
        <name>colTemplateTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Template_Task__c</objectType>
    </variables>
    <variables>
        <description>Stores the current Template Task records data during the loop for editing before creating Journey Tasks.</description>
        <name>varCurrentTemplateTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Template_Task__c</objectType>
    </variables>
    <variables>
        <description>Indicates whether the user wants to edit tasks before creating a Journey.</description>
        <name>varEditTasks</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Captures the users decision on whether to edit tasks before creating the Journey.</description>
        <name>varEditTasksDecision</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the URL to the newly created Journey record for navigation</description>
        <name>varJourneyLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the details of the new Journey being created from the template.</description>
        <name>varNewJourney</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Journey__c</objectType>
    </variables>
    <variables>
        <description>Used to create new Journey Task records from Template tasks during the loop.</description>
        <name>varNewJourneyTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task__c</objectType>
    </variables>
    <variables>
        <description>Holds the current Template record data.</description>
        <name>varTemplateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Template__c</objectType>
    </variables>
</Flow>
