force-app/main/default/flows/Enter_Journey_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Assign the edited Journey Tasks into the new collection to be used in the creation of edited Journey Tasks.</description>
        <name>Add_To_New_Collection</name>
        <label>Add To New Collection</label>
        <locationX>138</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>colJourneyTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varEditedJourneyTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add the details for each captured Journey Task record to a new collection. To be used in the creation of the Journey Tasks.</description>
        <name>Add_To_New_Unedited_Collection</name>
        <label>Add To New Unedited Collection</label>
        <locationX>490</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>colUneditedJourneyTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varUneditedJourneyTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Unchanged_Task_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the captured edits to a new Journey Task variable ready to be stored in the new collection of edited Journey Tasks.</description>
        <name>Assign_Task_Details_To_Journey_Task</name>
        <label>Assign Task Details To Journey Task</label>
        <locationX>138</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>varEditedJourneyTask.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentTemplateTask.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEditedJourneyTask.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentTemplateTask.Task_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEditedJourneyTask.Relative_Days_To_Complete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentTemplateTask.Task_Relative_Days_To_Complete__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEditedJourneyTask.Journey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_Journey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_New_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the Template Task record details to a new Journey Task variable, which will allow for the creation of Journey Tasks (as apposed to Template Tasks)</description>
        <name>Assign_Unedited_Details_To_Journey_Task</name>
        <label>Assign Unedited Details To Journey Task</label>
        <locationX>490</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>varUneditedJourneyTask.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentUneditedTemplateTask.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUneditedJourneyTask.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentUneditedTemplateTask.Task_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUneditedJourneyTask.Relative_Days_To_Complete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentUneditedTemplateTask.Task_Relative_Days_To_Complete__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUneditedJourneyTask.Journey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_Journey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_New_Unedited_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the Template Task details to a temporary variable to capture the various field values for each Task in the collection.</description>
        <name>Assign_Unedited_Task_Details</name>
        <label>Assign Unedited Task Details</label>
        <locationX>490</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>varCurrentUneditedTemplateTask.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unchanged_Task_Loop.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentUneditedTemplateTask.Task_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unchanged_Task_Loop.Task_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentUneditedTemplateTask.Task_Relative_Days_To_Complete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unchanged_Task_Loop.Task_Relative_Days_To_Complete__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentUneditedTemplateTask.Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unchanged_Task_Loop.Template__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Unedited_Details_To_Journey_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the user&apos;s edits in the screen flow to a temporary Template Task variable to store the details for each task in the collection.</description>
        <name>Capture_Task_Edits</name>
        <label>Capture Task Edits</label>
        <locationX>138</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>varCurrentTemplateTask.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentTemplateTask.Task_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentTemplateTask.Task_Relative_Days_To_Complete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Relative_Days_to_Complete</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentTemplateTask.Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Loop.Template__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Task_Details_To_Journey_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Continue_Journey_Creation</name>
        <label>Continue Journey Creation</label>
        <locationX>72</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Enter_Journey_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Do_Not_Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No_Choose_a_different_Template</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Yes_Continue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Do Not Continue</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision element with 2 paths depending on whether the user checked the &quot;edit template tasks&quot; checkbox.</description>
        <name>Edit_Tasks</name>
        <label>Edit Tasks?</label>
        <locationX>226</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Unchanged_Task_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Edit</defaultConnectorLabel>
        <rules>
            <name>Yes_Edit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Edit_Template_Tasks</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Loop</targetReference>
            </connector>
            <label>Yes Edit</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Template_Tasks_Decision</name>
        <label>No Template Tasks Decision</label>
        <locationX>226</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Enter_Journey_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Tasks</defaultConnectorLabel>
        <rules>
            <name>No_Template_Tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colTemplateTasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Tasks_Screen</targetReference>
            </connector>
            <label>No Template Tasks</label>
        </rules>
    </decisions>
    <description>This flow for MainlyDigital allows the creation of Journeys from pre-existing templates. Users are able to edit the Template Tasks if they choose, otherwise the Tasks are copied as Journey Tasks with no change.</description>
    <environments>Default</environments>
    <formulas>
        <description>This formula generates a link for a newly created Journey so that MainlyDigital staff can view the Journey as soon as it is created.</description>
        <name>journeyDisplayLink</name>
        <dataType>String</dataType>
        <expression>{!colNewJourneyTask}</expression>
    </formulas>
    <interviewLabel>Enter Journey Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Journey From Template</label>
    <loops>
        <description>Loop element to iterated through each Template Task record in the collection (If the edit checkbox has been checked).</description>
        <name>Task_Loop</name>
        <label>Task Loop</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <collectionReference>colTemplateTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Edit_Current_Template_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Journey_Tasks_from_Template</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop element to iterated through each Template Task record in the collection (If the edit checkbox is unchecked, thus no changes need to be made to the Template Tasks).</description>
        <name>Unchanged_Task_Loop</name>
        <label>Unchanged Task Loop</label>
        <locationX>402</locationX>
        <locationY>1274</locationY>
        <collectionReference>colTemplateTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Unedited_Task_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Unedited_Journey_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates new Journey Task records by using the collection containing the edited Journey Tasks (which were previously Template Tasks).</description>
        <name>Create_Journey_Tasks_from_Template</name>
        <label>Create Journey Tasks from Template</label>
        <locationX>50</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>View_New_Journey</targetReference>
        </connector>
        <inputReference>colJourneyTasks</inputReference>
    </recordCreates>
    <recordCreates>
        <description>This element creates a new Journey record using the details provided by the user, such as the Journey Name, Candidate Information, Manager Information, and Onboarding Start Date, linking it to the Template from which the Flow was launched.</description>
        <name>Create_New_Journey</name>
        <label>Create New Journey</label>
        <locationX>226</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Edit_Tasks</targetReference>
        </connector>
        <inputAssignments>
            <field>Candidate_Email__c</field>
            <value>
                <elementReference>Candidate_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Candidate_Name__c</field>
            <value>
                <elementReference>Candidate_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_Email__c</field>
            <value>
                <elementReference>Manager_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_Name__c</field>
            <value>
                <elementReference>Manager_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Journey_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Start_Date__c</field>
            <value>
                <elementReference>Onboarding_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Template_Used__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Journey__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Journey Tasks from the new collection. These Journey Tasks will have the same values as the Template Tasks from the Template in which the user started the flow (as no changes were made).</description>
        <name>Create_Unedited_Journey_Tasks</name>
        <label>Create Unedited Journey Tasks</label>
        <locationX>402</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>View_New_Journey</targetReference>
        </connector>
        <inputReference>colUneditedJourneyTasks</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Retrieve all the Template Task records that are related to the selected template to be used in the creation of the Journey. This is done by matching the previously captured Template Id to the Template field on the Template Task object. These Template tasks are then stored in a collection.</description>
        <name>Get_Related_Template_Tasks</name>
        <label>Get Related Template Tasks</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Template_Tasks_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Template_Task__c</object>
        <outputReference>colTemplateTasks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Task_Description__c</queriedFields>
        <queriedFields>Task_Relative_Days_To_Complete__c</queriedFields>
        <queriedFields>Template__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get the Id of current Template Record. This is the record where the flow starts by clicking the button &quot;new Journey&quot;.</description>
        <name>Get_Template</name>
        <label>Get Template</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Template_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Displays the details of the current existing Template Task to allow the user to edit.</description>
        <name>Edit_Current_Template_Task</name>
        <label>Edit Current Template Task</label>
        <locationX>138</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Capture_Task_Edits</targetReference>
        </connector>
        <fields>
            <name>Task_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Task_Loop.Name</elementReference>
            </defaultValue>
            <fieldText>Task Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Task_Description</name>
            <defaultValue>
                <stringValue>{!Task_Loop.Task_Description__c}</stringValue>
            </defaultValue>
            <fieldText>Task Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Relative_Days_to_Complete</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Task_Loop.Task_Relative_Days_To_Complete__c</elementReference>
            </defaultValue>
            <fieldText>Relative Days to Complete</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Enter the related Journey details for creating the new Journey. If a user wishes to edit the existing Tasks then they check the &quot;edit Template Tasks?&quot; box.</description>
        <name>Enter_Journey_Details</name>
        <label>Enter Journey Details</label>
        <locationX>226</locationX>
        <locationY>950</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_Journey</targetReference>
        </connector>
        <fields>
            <name>Journey_Name</name>
            <dataType>String</dataType>
            <fieldText>Journey Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Candidate_Name</name>
            <dataType>String</dataType>
            <fieldText>Candidate Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please enter a name that doesn&apos;t contain numbers or special characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Candidate_Name}, &quot;^[a-zA-Z ]+$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Candidate_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Candidate Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Manager_Name</name>
            <dataType>String</dataType>
            <fieldText>Manager Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please enter a name that doesn&apos;t contain numbers or special characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Candidate_Name}, &quot;^[a-zA-Z ]+$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Manager_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Manager Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Onboarding_Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Onboarding Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Edit_Template_Tasks</name>
            <dataType>Boolean</dataType>
            <fieldText>Edit Template Tasks?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No_Template_Tasks</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen which is visible to users when the template they have chosen doesn&apos;t have any Tasks.</description>
        <name>No_Tasks_Screen</name>
        <label>No Tasks Screen</label>
        <locationX>72</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Continue_Journey_Creation</targetReference>
        </connector>
        <fields>
            <name>No_Tasks_Display</name>
            <fieldText>&lt;p&gt;This Template Currently has no Tasks, would you like to continue making a Journey with no Tasks?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Yes_Continue</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes, Continue.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>No_Choose_a_different_Template</name>
            <dataType>Boolean</dataType>
            <fieldText>No, Choose a different Template.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Display a link allowing users to view the newly created Journey.</description>
        <name>View_New_Journey</name>
        <label>View New Journey</label>
        <locationX>226</locationX>
        <locationY>2090</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_New_Journey</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://power-business-6882-dev-ed.scratch.lightning.force.com/lightning/r/Journey__c/{!Create_New_Journey}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Journey Successfully Created &lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Template</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colJourneyTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task__c</objectType>
    </variables>
    <variables>
        <description>Store the edited Journey Tasks</description>
        <name>colNewJourneyTask</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the collection of template task records related to the selected template.</description>
        <name>colTemplateTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Template_Task__c</objectType>
    </variables>
    <variables>
        <name>colUneditedJourneyTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the current Template Task records data during the loop for editing before creating Journey Tasks.</description>
        <name>varCurrentTemplateTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Template_Task__c</objectType>
    </variables>
    <variables>
        <name>varCurrentUneditedTemplateTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Template_Task__c</objectType>
    </variables>
    <variables>
        <name>varEditedJourneyTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task__c</objectType>
    </variables>
    <variables>
        <description>Indicates whether the user wants to edit tasks before creating a Journey.</description>
        <name>varEditTasks</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Captures the users decision on whether to edit tasks before creating the Journey.</description>
        <name>varEditTasksDecision</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUneditedJourneyTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task__c</objectType>
    </variables>
</Flow>
